*{
    box-sizing: border-box;
 
    font-family: 'Josefin Sans', sans-serif;
}

.navigation{
    background-color: bisque;
}
.navbar-brand{
    font-family: 'Josefin Sans', sans-serif;
   
    font-weight: bold;
    font-size: 32px;
}
.navbar-toggler{
    margin-bottom: 15px;
    margin-right: 20px;
}

.nav-item{
    border-top: 1px solid #000;
}
.nav__menu{
    background-color: rgb(177, 153, 110);

}
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-nav:last-child{
    border-bottom: 1px solid black;
}
.tittle{
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 35px;
}
.main-content{
margin: 0 auto;
background-color: bisque;
padding-top: 8px;
margin-bottom: 50px;
min-height: 1000px;
padding: 8px;

}
.beef{
background-color: rgba(230, 204, 173, 0.404);
}
.main-row{
    padding: 0px 15px;
}
.subtittle{
    font-size: 21px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .navbar.navbar-expand-md.navbar-light{
        padding: 0px;
        padding-bottom: 0px;
        }
        .navigation{

            padding: 0px;
        }
        .navbar-brand{
            margin-left: 25px;
        }
}
@media (min-width: 768px) {
    .nav-row{
border: 1px solid black;

    }
}



